__pycache__/
*.py[cod]
/output/
/input/
!/input/example.png
# Ignore all generated / downloaded model files
models/
models/checkpoints/
models/clip/
models/clip_vision/
models/controlnet/
models/diffusers/
models/diffusion_models/
models/embeddings/
models/gligen/
models/hypernetworks/
models/loras/
models/photomaker/
models/style_models/
models/text_encoders/
models/unet/
models/upscale_models/
models/vae/
models/vae_approx/
/temp/
/custom_nodes/_pycache_
!custom_nodes/websocket_image_save.py
!custom_nodes/example_node.py.example
extra_model_paths.yaml
run.bat
/.vs
.vscode/
.idea/
venv/
.venv/
/web/extensions/*
!/web/extensions/logging.js.example
!/web/extensions/core/
/tests-ui/data/object_info.json
/user/
*.log
web_custom_versions/
.DS_Store
openapi.yaml
filtered-openapi.yaml
uv.lock
